{% extends 'menu.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block pagename %}
    {{ block.super }}
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
        <h1> Рубрика: "А ты знал Чтоооо..." </h1>
    <p><h2> Сейчас я вам расскажу пару фактов об имеющихся играх </h2></p>
    <p> <h3> Baldur`s Gate 3 </h3>
    Несмотря на заявления разработчиков – «нам нужно время», «мы хотим сделать достойную игру, поэтому не
    ограничиваем себя датой релиза», «не спешите покупать игру, оценить её вы сможете только после релиза» и прочие,
    продажи шокировали даже босса бельгийской студии Свена Винке. Да, что там Винке, если даже клиент Стима начал
    сбоить на фоне небывалой нагрузки на сервер со стороны покупателей. Более 73 тысяч человек было онлайн
    одновременно в первые сутки после появления раннего доступа. И это только в Стиме. Поэтому неудивительно, что
    Винке назвал такой старт «безумным».

    А после релиза игру ждал ещё больший успех! Игра вошла в топ 10 по онлайну. Он составил 879 тысяч человек.
    <hr>
    <p> <h3> Pathfinder: Wrath of the Righteous </h3>
    В игре имеется возможность встретить Солера из Асторы который является одним из NPC игры Dark Souls. Так же как и в
    Dark Souls персонаж использует знаменитый жест и фразу "Praise the sun", правда здесь он восхволяет Саренрэй,
    являющейся богиней солнца и исцеления мира игры.
    <hr>
    <p> <h3> State of Decay </h3>
    В игрее имеется отсылка к игре Plants vs. Zombies. За одним из домов в игре можно найти сад с подсолнухами и газонокосилками.
    Это намёк на то, что в Plants vs. Zombies растения и машины используются для защиты от ходячих мертвецов.
    В том же саду из State of Decay даже есть зомби, которого переехало газонокосилкой.
    <hr>
{% endblock %}

